body {
  background-color: black;
  color: white;
  font-family: "Kalam", cursive;
}
.title-desc {
  text-align: center;
}

#main-heading {
  font-size: 60px;
}
#description-1,
#description-2,
#description-3 {
  font-size: 30px;
  text-align: center;
}

/* animation function here */
@keyframes move {
  from {
    top: -300px;
  }
  to {
    top: 50px;
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
#description-1 {
  animation: move 1s 1;
  top: 100px;
  animation-timing-function: linear;
  position: absolute;
  margin-left: 600px;
}

#description-2 {
  /* animation: move 2.5s linear 1, hide 2s linear 2.5s 1 forwards;*/
  animation-name: move, hide;
  animation-iteration-count: 1, 1;
  animation-timing-function: linear, linear;
  animation-duration: 1s, 3s;
  animation-fill-mode: forwards;
  top: 180px;
  animation-timing-function: linear;
  position: absolute;
  margin-top: 130px;
  margin-left: 300px;
}

#description-3 {
  position: absolute;
  margin-left: 700px;
  animation: move 2.5s linear 1, hide 2s linear 2.5s 1 forwards;
  top: 170px;
}

.rock-paper-scissor {
  animation-name: hide2;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  margin-left: 700px;
  top: 170px;
  font-size: 25px;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes hide2 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

/* ux design */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.btn-rock {
  border: 1px solid white;
  padding: 15px;
  border-radius: 7px;
  margin: 40px;
}

#rock:hover {
  scale: 1.2;
  box-shadow: 0px 10px 20px white;
  cursor: pointer;
}

#paper:hover {
  scale: 1.2;
  box-shadow: 0px 10px 20px white;
  cursor: pointer;
}

#scissor:hover {
  scale: 1.2;
  box-shadow: 0px 10px 20px white;
  cursor: pointer;
}

.btn-paper {
  border: 1px solid white;
  padding: 15px;
  border-radius: 7px;
  margin: 40px;
}

.btn-scissor {
  border: 1px solid white;
  padding: 15px;
  border-radius: 7px;
  margin: 40px;
}

/*ux design */

.btn-container img {
  height: 150px;
  width: 150px;
}

.score-container {
  display: flex;
  flex-direction: column;
}
.score-label {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
}

.score-disp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 35px;
}
.label {
  display: flex;
  align-items: center;
}
.player-score,
.computer-score {
  display: flex;
  justify-content: space-evenly;
}

.player-score {
  margin-right: 100px;
}

.round-results {
  display: flex;
  flex-direction: column;
}
#winner {
  display: flex;
  justify-content: center;
  font-size: 35px;
}
#computer-choice {
  display: flex;
  font-size: 35px;
  justify-content: center;
}
.img_display{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap:300px;
}
.img_display img{
  width:100px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 7px;
  margin: 40px;
}
